@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #18041c;
}

.navigation {
    background-color: #1A0B2E;
    height: 113px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
}

.navigation a {
    color: white;
    margin: 32px;
    text-decoration: none;
}

.me {
    display: flex;
    justify-content: center;
    margin-top: 143px;
}

.me p {
    color: white;
}

.me span {
    color: #7127BA;
}